{{>main}}
<main>
    <div class="page-chat">
        <div class="all-chats">
            <div class="chat-header">
                <div class="logo logo-mini header-part">
                    <span>MONOCHROME</span>
                </div>
                <div class="btn-profile header-part">
                    <span>ПРОФИЛЬ</span>
                </div>
            </div>
            <div class="chat-search">
                <input type="text">
            </div>
        </div>
        <div class="current-chat">
            <div class="chat-header">
                <div class="contact-profile header-part">
                    <span>Андрей</span>
                </div>
                <div class="contact-menu header-part">
                    <span>МЕНЮ ЧАТА</span>
                </div>
            </div>
        </div>
    </div>
</main>
