.page-chat
  display: flex
  justify-content: space-between

.all-chats
  border: $primary-color-light solid
  width: 25%
  height: 93vh
  margin-left: 2%
  margin-top: 2%
  .chat-search
    margin-top: 3%
    margin-left: 3%
    input
      display: flex
      flex-direction: column
      margin-top: 3%
      width: 80%
      background-color: $primary-color-dark

.current-chat
  border: $primary-color-light solid
  width: 69%
  height: 93vh
  margin-right: 2%
  margin-top: 2%

.chat-header
  display: flex
  justify-content: space-between
  margin-top: 0.9em
  height: 3vh
  text-align: center
  color: $primary-color-light
  .header-part
    display: flex
    background: #757575
    border-radius: 3px
  .logo-mini
    margin-left: 3%
    width: 35%
  .btn-profile
    margin-right: 3%
    width: 56%
  .contact-profile
    margin-left: 3%
    width: 20%
  .contact-menu
    margin-right: 3%
    width: 25%
  span
    margin: auto
