<div class="contact">
    <div class="contact-avatar-wrapper">
        <div class="contact-avatar">
            <img class="setting_avatar" src="../../../static/img/cat_avatar.png" alt="Аватар"/>
        </div>
    </div>
    <div class="contact-content">
        <div class="contact-content-header">
            <div>Андрей</div>
            <div class="contact-time-value">20:42</div>
        </div>
        <div class="contact-content-body">
            <span>Вы: как дела?</span>
        </div>
        <div class="contact-content-footer">
            <div class="message-counter">
                <div class="message-counter-value">3</div>
            </div>
        </div>
    </div>
</div>
