<div class="contact">
    <div class="contact-avatar-wrapper">
        <div class="contact-avatar">
            <img class="setting_avatar" src="../../../static/img/cat_avatar.png" alt="Аватар"/>
        </div>
    </div>
    <div class="contact-content">
    </div>
</div>
